<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>congrate_icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,565},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>congrate_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,558},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>congrate_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,827},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>congrate_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,705},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>congrate_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,323},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>icon_juan.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,461},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>item_Diamonds_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,565},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_chest_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,827},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_chest_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,705},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_chest_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,836},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_chest_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,714},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_chips_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,314},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>item_frame_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>item_gift_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_gift_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,733},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_gift_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,583},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_gift_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_gift_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,592},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_gift_beginner.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,558},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_gift_mall_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,705},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_point_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,827},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_ticket_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_vip_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,470},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_wine_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,461},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_wine_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,443},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_wine_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,436},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_wine_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,436},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_wine_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,314},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>item_wine_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,314},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mail_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,657},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>mail_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,558},{97,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,116}}</string>
                <key>sourceSize</key>
                <string>{97,116}</string>
            </dict>
            <key>mail_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,403},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>mail_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,314},{87,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>preview_litttle_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,558},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>preview_litttle_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,470},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>preview_litttle_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,550},{87,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>prix_countdown_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,200}}</string>
                <key>sourceSize</key>
                <string>{213,200}</string>
            </dict>
            <key>rank_subsidy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,314},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>sign_diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,158},{198,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,154}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>sign_diamond_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,158},{198,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,154}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>sign_diamond_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{198,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,154}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>sign_diamond_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,167},{198,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,154}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>sign_diamond_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,158},{198,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,154}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>sign_diamond_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{198,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,154}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>sign_diamond_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{198,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,163}}</string>
                <key>sourceSize</key>
                <string>{198,163}</string>
            </dict>
            <key>sign_diamond_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{198,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,154}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>sign_diamond_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{198,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,154}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>snatch_chip_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,323},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>itemIcon.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a31af1f819faa74713e4bb66c467c835$</string>
            <key>textureFileName</key>
            <string>itemIcon.png</string>
        </dict>
    </dict>
</plist>
